#tables
{
	max-width: 800px;
	margin-top: 5%;
}
table, th, td
{
	text-align: center;
}
td
{
	height: 10%;
	width: 10%;
	font-size: 3vw;
}
img
{
	width: 70%;
	height: auto;
}
.tablep
{
	margin: 0 auto;
	width: 100%;
}