
#header
{
	font-family: "Times New Roman", Times, serif;
	height: 10%; 
	width: 100%;
	text-align: center; 
	background-color: grey;
	border: 1px solid black; 
	border-radius: 5px;
	letter-spacing: 2px;
}
#header h1
{
	font-size: 4em;
}
#header .pure-menu
{
	width: 100%;
}
#header .pure-menu ul
{
	width: 100%;
}
#header .pure-menu li
{
	width: 25%;
	font-size: 1.5em;
}
